@font-face {
    font-family: 'GrandParadiso-Regular';
    src: url('fonts/GrandParadiso-Regular.woff') format('truetype');
}
@font-face {
    font-family: 'jodie-garland-jodie-garland-regular-400';
    src: url('fonts/jodie-garland-jodie-garland-regular-400.ttf') format('truetype');
    
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
background: 
url('imagens/patternbackground.png') repeat-y,
 #8d8c8c;
 background-size: 1600px;
 background-position: top;
 
}


header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: 100%;
    background-color: darkgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header img {
    height: 80px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
 }

.cabecalho-menu {
    display: flex;
    gap: 32px; }


header nav a{
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
    background-color:#6e6e6e;
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding-top: 115px;
    margin-bottom: 48px;
    border-top: 0.4px solid #2c2a2a;
}

.historiaBarbearia {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* alinha topo da imagem com topo do texto */
    justify-content: space-between;
    padding: 40px; /* adiciona espaço interno nas bordas */
    gap: 40px; /* espaço entre imagem e texto */
    max-width: 1200px;
    margin: 0 auto; /* centraliza no meio da tela */
}

.historiaBarbearia img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

.conteudo-escrito {
    flex: 1; /* faz o texto ocupar o resto do espaço */
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.texto-1 {
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 34px;
}
.titulo-historiaBarbearia {
    font-family: "jodie-garland-jodie-garland-regular-400", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: white;
}

.historiaMeioBarbearia {
    padding-top:90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* alinha topo da imagem com topo do texto */
    justify-content: space-between;
    padding: 40px; /* adiciona espaço interno nas bordas */
    gap: 40px; /* espaço entre imagem e texto */
    max-width: 1200px;
    margin: 0 auto; /* centraliza no meio da tela */
}

.historiaMeioBarbearia img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

.conteudo-escrito-meio {
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 25px;
}



.historiaHojeBarbearia{
    padding-top:90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* alinha topo da imagem com topo do texto */
    justify-content: space-between;
    padding: 40px; /* adiciona espaço interno nas bordas */
    gap: 40px; /* espaço entre imagem e texto */
    max-width: 1200px;
    margin: 0 auto; /* centraliza no meio da tela */
}

.historiaHojeBarbearia img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}
.historiaHojeBarbearia div p{
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 35px;
}
h2{ display: flex;
    justify-content: center;
    font-family: "jodie-garland-jodie-garland-regular-400", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;   
}
.voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .voltar-topo:hover {
    background-color: black;
  }
  html {
    scroll-behavior: smooth;
  }
footer{
    width: 100%;
    color: white;
}

#footer_content{
    background-color: rgb(73, 73, 73);
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem
}
#footer_contatos h1{
    margin-bottom: 2rem;
}
#footer_rede_social{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_rede_social .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: aliceblue;
    border-radius: 50%;
    transition: all 0.4s;
}
#footer_rede_social .footer-link i{
    font-size: 1.25rem;
}
#footer_rede_social .footer-link:hover{
    opacity: 0.8;
}
#whatsapp{
    background-color:#25d366;
}
#instagram{
    background: linear-gradient(#4B0082,#ff2992,#FF8C00)
}
#facebook{
    background-color: #4267b3;
}
#footer_enviar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    gap: 1.5rem;
}
#input_group{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #2c2a2a;
    border-radius: 4px;
}
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: rgb(5, 57, 199);
    border: none;
    color: aliceblue;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 0.9rem;
    padding: 0.25rem;
    font-weight: 100
}

#footer_mapa {
    width: 100%;            /* ou algo fixo como 300px */
    max-width: 300px;       /* controle o tamanho máximo */
    height: 200px;          /* altura desejada */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
  }
#footer_mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  @media screen and (max-width: 768px) {
    .cabecalho {
      flex-direction: column;
      align-items: center;
    }
  
    .cabecalho-menu {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .historiaBarbearia img,
    .historiaMeioBarbearia img,
    .historiaHojeBarbearia img {
      width: 100%;
      height: auto;
    }
  
    .conteudo-escrito,
    .conteudo-escrito-meio {
      padding: 1rem;
      font-size: 1rem;
    }
  
    iframe {
      width: 100%;
      height: 200px;
    }
  }
  
/* footer{
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 48px;
    border-top: 0.4px solid #2c2a2a;
    padding: 60px;
    display: flex;
    align-items: center;
} */

