@font-face {
    font-family: 'GrandParadiso-Regular';
    src: url('fonts/GrandParadiso-Regular.woff') format('truetype');
}
@font-face {
    font-family: 'jodie-garland-jodie-garland-regular-400';
    src: url('fonts/jodie-garland-jodie-garland-regular-400.ttf') format('truetype');
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
    background: 
    url('imagens/patternbackground.png') repeat-y,
     #8d8c8c;
     background-size: 1350px;
     background-position: top;
     
}
header{
    font-size: 100%;
    background-color: darkgray;
}

header img {
    max-height: 80px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
 }

.cabecalho-menu {
    display: flex;
    gap: 32px; }


header nav a{
    font-family: "GrandParadiso-Regular", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
    background-color:#6e6e6e;
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    margin-bottom: 48px;
    border-top: 0.4px solid #2c2a2a;
}
.inicio-servicos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 40px;
    gap: 40px;
    
}

.imagem-elemento{
    padding-top: 50px;
    max-width: 100%;
    max-height: 500px;
  
}

.imagem-utensilios{
    max-width: 100%;
    max-height: 400px;
    align-self: flex-end
}

.titulo {
    padding-top: 90px;
} 

h1 {
   
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-family: "jodie-garland-jodie-garland-regular-400", sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: white;

}

.servicos{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* alinha topo da imagem com topo do texto */
    justify-content: space-between;
    padding: 40px; /* adiciona espaço interno nas bordas */
    gap: 40px; /* espaço entre imagem e texto */
    max-width: 1200px;
    margin: 0 auto; /* centraliza no meio da tela */
}

.corteCabelo img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

.corteCabelo p{
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

.corteBarba img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

.corteBarba p{
    margin-left: 360px;
    padding-bottom: 60px;
}

.video video{
    display: flex;
    margin: 0 auto; /* centraliza no meio da tela */
    max-width: 1200px;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px; /* opcional: deixa a imagem com cantos arredondados */
    object-fit: cover;
}

footer{  padding: 60px;
}