*{
    margin: 0;
    border: 0;
}

header{
    background-color: darkgray;
    padding-bottom: 100px;
}

header h1{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}

.menu{
    display: flex;
}

header h3{
   margin-top: -5px;
   margin-left: 190px;
}

header nav a{
    text-decoration: none;
    color: darkblue;
    margin-left: 300px;
}

main{
    background-color: darkgray;
}

.servicos{
    display: flex;
}

.corteCabelo img{
    height: 400px;
    width: 600px;
    margin-left: 100px;
}

.corteCabelo p{
    margin-left: 300px
}

.corteBarba img{
    height: 400px;
    width: 600px;
    margin-left: 100px;
}

.corteBarba p{
    margin-left: 360px;
    padding-bottom: 60px;
}

.video video{
    width: 1000px;
    margin-left: 230px;
    margin-bottom: 60px;
}

footer{
    background-color: aqua;
    padding: 60px;
}